{
    "plugins": [
        "@babel/plugin-transform-react-inline-elements",
        "@babel/plugin-proposal-class-properties",
        "@babel/transform-react-constant-elements"
    ],
    "presets": [
        "@babel/preset-typescript",
        "@babel/preset-react",
        [
            "@babel/preset-env",
            {
                "targets": {
                    "uglify": true
                }
            }
        ]
    ]
}